//Fonts
$font-family-regular:
  14px 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;

//Font-weight
$extra-light: 200;
$light: 300;
$regular: 400;

//Color
$black: #111111;
$color-background: #f5f5f5;
$white: #fff;
$pink: #af5b5e;
$light-pink: rgba(175, 47, 47, 0.15);
$dark-pink: #cc9a9a;
$grey: #4d4d4d;
$light-grey: #999;
$dark-grey: #111111;
